{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/static/assets/img/tweet_detective_logo.jpg"
                            style="max-width: 100%; height: auto; float:right">
                    </div>
                    <div class="col-md-5">
                        <h1 class="text-white pb-2 fw-bold"> Tweet Detective</h1>
                        <h4 class="text-white pb-2">Tweet Detective is a web application that provides deep insights
                            about the most recent tweets containing the search
                            terms user desires. It identifies and plots the most popular hashtags. Sentiment analysis is
                            performed to find the
                            sentiment score of each tweet and displaying the most positive and the most negative tweets
                            found, followed by topic
                            modeling in order to highlight the hot topics discussed. The most important words for each
                            identified topic are
                            illustrated.
                        </h4>
                    </div>

                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <span>
                                    <h4 class="text-white pb-2 fw-bold">Please submit your search term(s) below</h4>
                                    <h4 class="text-white pb-2">For instance, you can search for Walmart vs Costco, RBC
                                        vs Scotia Bank,
                                        McDonald vs Tim Hortons, or your favorite Netflix movies and shows.</h4>
                                </span>
                            </div>
                        </div>

                        <form method="post" action="#">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                </div>
                                                <input type="text" class="form-control" id="search1" name="search1"
                                                    placeholder="Search1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                </div>
                                                <input type="text" class="form-control" id="search2" name="search2"
                                                    placeholder="Search2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <h4 class="text-white pb-2"> ........................</h4>
                                <h4 class="text-white pb-2">Please wait a few decades for the tweets to be scraped and
                                    analyzed!
                                </h4>
                                <h4 class="text-white pb-2">Just kidding, it only takes about a minute …</h4>
                            </div>

                        </form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-head-row">
                                            <div class="card-title">Author</div>
                                            <div class="card-tools">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <img src="/static/assets/img/SA-ph.jpg"
                                            style="width:200px;height:200px; float:left">
                                    </div>
                                    <div class="card-body">
                                        <div class="username">
                                            <h4>Sara Alizadeh</h4>
                                        </div>
                                        <a class="nav-link" target="_blank"
                                            href="https://www.linkedin.com/in/sara-alizadeh72/">
                                            Linkedin
                                        </a>
                                        <a class="nav-link" target="_blank" href="https://github.com/saro0o00oo">
                                            GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-head-row">
                                            <div class="card-title"> Author</div>
                                            <div class="card-tools">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <img src="/static/assets/img/SL-ph2.png"
                                            style="width:200px;height:200px; float:left">
                                    </div>
                                    <div class="card-body">
                                        <div class="username">
                                            <h4>Shayan Liaghat</h4>
                                        </div>
                                        <a class="nav-link" target="_blank"
                                            href="https://www.linkedin.com/in/shayanliaghat/">
                                            Linkedin
                                        </a>
                                        <a class="nav-link" target="_blank" href="https://github.com/ShayanLiaghat">
                                            GitHub
                                        </a>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="row">
                <div class="col-md-11 col-xl-11">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card bg-primary text-white">
                                <div class="card-body bg-patern-white">
                                    <div class="row mt-3">
                                        <div class="col">
                                            <h2 class="text-center text-white">Here Are the Results</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-11">
                    <div class="card table-card">
                        <div class="card-header">
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll" style="height:420px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th><span><h5><i class="feather icon-film m-r-5"></i>Movie Name</h5></span></th>
                                                        <th><span><h5><i class="feather icon-award m-r-5"></i>Predicted Rating </h5></span></th>
                                                        <th><span><h5><i class="feather icon-file-text m-r-5"></i>Total Ratings </h5></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><h6>{{movie1}}</h6></td>
                                                        <td><h6>{{rating1}}</h6></td>
                                                        <td><h6>{{total_rating1}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie2}}</h6></td>
                                                        <td><h6>{{rating2}}</h6></td>
                                                        <td><h6>{{total_rating2}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie3}}</h6></td>
                                                        <td><h6>{{rating3}}</h6></td>
                                                        <td><h6>{{total_rating3}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie4}}</h6></td>
                                                        <td><h6>{{rating4}}</h6></td>
                                                        <td><h6>{{total_rating4}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie5}}</h6></td>
                                                        <td><h6>{{rating5}}</h6></td>
                                                        <td><h6>{{total_rating5}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie6}}</h6></td>
                                                        <td><h6>{{rating6}}</h6></td>
                                                        <td><h6>{{total_rating6}}</h6></td>                                                
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie7}}</h6></td>
                                                        <td><h6>{{rating7}}</h6></td>
                                                        <td><h6>{{total_rating7}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie8}}</h6></td>
                                                        <td><h6>{{rating8}}</h6></td>
                                                        <td><h6>{{total_rating8}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie9}}</h6></td>
                                                        <td><h6>{{rating9}}</h6></td>
                                                        <td><h6>{{total_rating9}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie10}}</h6></td>
                                                        <td><h6>{{rating10}}</h6></td>
                                                        <td><h6>{{total_rating10}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie11}}</h6></td>
                                                        <td><h6>{{rating11}}</h6></td>
                                                        <td><h6>{{total_rating11}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie12}}</h6></td>
                                                        <td><h6>{{rating12}}</h6></td>
                                                        <td><h6>{{total_rating12}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie13}}</h6></td>
                                                        <td><h6>{{rating13}}</h6></td>
                                                        <td><h6>{{total_rating13}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie14}}</h6></td>
                                                        <td><h6>{{rating14}}</h6></td>
                                                        <td><h6>{{total_rating14}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie15}}</h6></td>
                                                        <td><h6>{{rating15}}</h6></td>
                                                        <td><h6>{{total_rating15}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie16}}</h6></td>
                                                        <td><h6>{{rating16}}</h6></td>
                                                        <td><h6>{{total_rating16}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie17}}</h6></td>
                                                        <td><h6>{{rating17}}</h6></td>
                                                        <td><h6>{{total_rating17}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie18}}</h6></td>
                                                        <td><h6>{{rating18}}</h6></td>
                                                        <td><h6>{{total_rating18}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie19}}</h6></td>
                                                        <td><h6>{{rating19}}</h6></td>
                                                        <td><h6>{{total_rating19}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie20}}</h6></td>
                                                        <td><h6>{{rating20}}</h6></td>
                                                        <td><h6>{{total_rating20}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie21}}</h6></td>
                                                        <td><h6>{{rating21}}</h6></td>
                                                        <td><h6>{{total_rating21}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie22}}</h6></td>
                                                        <td><h6>{{rating22}}</h6></td>
                                                        <td><h6>{{total_rating22}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie23}}</h6></td>
                                                        <td><h6>{{rating23}}</h6></td>
                                                        <td><h6>{{total_rating23}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie24}}</h6></td>
                                                        <td><h6>{{rating24}}</h6></td>
                                                        <td><h6>{{total_rating24}}</h6></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h6>{{movie25}}</h6></td>
                                                        <td><h6>{{rating25}}</h6></td>
                                                        <td><h6>{{total_rating25}}</h6></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Customer overview end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
